rules_version = '2';
 service cloud.firestore {
    match /databases/{database}/documents {
      // 認証済み
      function isAuthenticated() {
        return request.auth.uid != null
      }

       // コレクショングループの所
       match /{path=**}/followor_ids/{followerIds} {
        allow read, write: if isAuthenticated();
      }
    }
 }